h1 {
  text-align: center;
  margin: auto;
}

.adminOps {
  text-align: center;
  margin: auto;
  align-items: center;
}

button {
  text-align: center;
  margin: auto;
  align-items: center;
}



h2 {
  text-align: center;
}



a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }

  table {
    text-align: center;
    width: 50%;
    margin: auto;
}

tr {
    text-decoration: solid;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }