h1 {
  text-align: center;
  margin: auto;
}

.title {
  padding: 30px;
}

.channelList {
  width: 20%;
  float: left;
  background-color: #DCD7C9;
  height: 75vh;
  border: 1px;
  border-color: #2C3639;
  border-style: solid;
}

h2 {
  text-align: center;
}

.chatroom {
  border: 1px;
  border-color: #2C3639;
  border-style: solid;
  margin-left: 20%;
  height: 75vh;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }