<div class="title">
    <h1> Group Name </h1>
</div>
<div class="channelList">
    <h2>Channels:</h2>
    <ul>
        <li> <!-- This will need to be a for loop that iterates through the list of groups file -->
            <a href="1" routerLink="/channel">xbox</a> 
            <p>
                <a *ngIf="roleOfUser == 'SuperAdmin' || roleOfUser == 'GroupAdmin'" href="" class="optional">
                    <h3>Remove Channel</h3>
                </a>
            </p>
        </li>
        <li>
            <a href="2" routerLink="/channel">playstation</a> 
            <p>
                <a *ngIf="roleOfUser == 'SuperAdmin' || roleOfUser == 'GroupAdmin'" href="" class="optional">
                    <h3>Remove Channel</h3>
                </a>            
            </p> 
        </li>
    </ul>
    <button *ngIf="roleOfUser == 'SuperAdmin' ||
                    roleOfUser == 'GroupAdmin' || 
                    roleOfUser == 'GroupAssis'">
        Create New Channel
    </button>
</div>
<div class="chatroom">
    <app-channel></app-channel>
</div>

