h1 {
    text-align: center;
    margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

ul {
    margin: auto;
    list-style: none;
    text-align: center;
}

li {
    padding-bottom: 50px;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }