form {
    width: 70%;
    margin: auto;
    padding-top: 25px;
}

div {
    padding: 10px;
    margin: auto;
    text-align: center;
}

input {
    height: 30px;
    text-align: center;
    width: 50%;
}

.button {
  width: 75px;
  color: #F4FbFA;
  background-color: #6B9853;
  border-radius: 12px;
}


