<h2>
    <button (click)="goBack()">Go Back</button>
</h2>
<h1>Welcome {{username}}, to the {{channelTitle}} channel</h1>

<form>
    <label for="messageContent">New Message</label><br>
    <input type="text" [(ngModel)]="messageContent" name="messageContent"> <br>

    <button (click)="sendMessage()">Send</button>
</form>

<p class="userJoin">{{userJoined}}</p>
<div class="messageArea">

    <div *ngFor="let message of formattedMessages" class="messageContainer">
        <div class="splitleft">
            <img src="assets/profilepic.webp" alt="" class="messageImg">
            <p>{{message.name}}</p>
        </div>
        <div class="splitright">
            <p class="messageContent">{{message.message}}</p>
            <p class="messageTime">{{message.time}}</p>
            
        </div>
    </div>
</div>
<div *ngIf="userRole == 'SuperAdmin'">
    <button (click)="clearHistory()">Clear History</button>
</div>

