h1, h2 {
  margin: auto;
  text-align: center;
}

.messageArea {
  height: 60vh;
  width: 75%;
  text-align: center;
  background-color: lightgrey;
  margin: auto;
}

.overflow {
  max-height: 100%;
  overflow:hidden; 
  overflow-y:scroll;
}

.messageBox {
  margin: auto;
  text-align: center;
  padding: 15px;
}

form {
  margin: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
}

.message {
  border: 1px;
  border-color: black;
  border-style: solid;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }