h1 {
    width: 100%;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin: auto;
}

.top {
    width: 75%;
    margin: auto;
    align-items: center;
    background-color: lightgrey;
}

.bottom {
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

ul {
    margin: auto;
    list-style: none;
    text-align: center;
}

li {
    padding-bottom: 50px;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }