h1, h2 {
  margin: auto;
  text-align: center;
}

.messageArea {
  height: 60vh;
  width: 45%;
  text-align: center;
  background-color: lightgrey;
  margin: auto;
  overflow:hidden; 
  overflow-y:scroll;
}

.overflow {
  max-height: 100%;
  overflow:hidden; 
  overflow-y:scroll;
}

.messageBox {
  margin: auto;
  text-align: center;
  padding: 15px;
}

form {
  margin: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
}

.messageContainer {

  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 100px;
  margin: 10px 0;
}


.messageTime {
  float: right;
  color: #aaa;
}

img {
  border: 1px solid #ddd; 
  border-radius: 4px; 
  width: 50px;
  float: left;
  padding: 10px;

}

.split {
  width: 50%;
}

.splitleft {
  border: #aaa;
  border-radius: 2px;
  left: 0;
  float: left;
}

.splitright {
  right: 0;
  float: right;
}

.messageContent {
  border: 2px solid #dedede;

}

.userJoin {
  text-align: center;
}

/* a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  } */