nav {
    text-align: center;
    margin: auto;
    background-color: #415895;
    border: 2px;
    border-color: #657087;
    border-style: solid;
}

.turnWhite {
  color: #F4FbFA;
}

ul {
    list-style-type: none;
    padding: 0;
  }
  
  a {
    display: block;
    padding: 8px;
  }

a:link {
    color: #F4FbFA;
    text-decoration: none;
  }
  
  a:visited {
    color: #F4FbFA;
    text-decoration: none;

  }
  
  a:hover {
    color: #F4FbFA;
    text-decoration: none;
  }
  
  a:active {
    color: #F4FbFA;
    text-decoration: none;

  }

