nav {
    text-align: center;
    margin: auto;
    background-color: #DCD7C9;
    border: 1px;
    border-color: #2C3639;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
  }
  
  a {
    display: block;
    padding: 8px;
  }

a:link {
    color: #2C3639;
    text-decoration: none;
  }
  
  a:visited {
    color: #2C3639;
    text-decoration: none;

  }
  
  a:hover {
    color: #2C3639;
    text-decoration: none;
    background-color: #A5C9CA;
  }
  
  a:active {
    color: #2C3639;
    text-decoration: none;

  }