<div *ngIf="userBeingUpdated; else elseBlock">
    <h1>Update User: {{inputUsername}}</h1>
</div>
<ng-template #elseBlock>
    <h1>Create a new User:</h1>
</ng-template>

<form>
    <label for="inputUsername">Name: </label>
    <input type="text" name="inputUsername" [(ngModel)]="inputUser.username" placeholder="{{inputUsername}}"><br>

    <label for="inputEmail">Email: </label>
    <input type="text" name="inputEmail" [(ngModel)]="inputUser.email" placeholder="{{inputEmail}}"><br>

    <label for="inputPassword">Password: </label>
    <input type="number" name="inputPassword" [(ngModel)]="inputUser.password"><br>

    <label for="inputRole">Role: </label>
    <select name="inputRole" [(ngModel)]="inputUser.role">
        <option value="Member">Member</option>
        <option *ngIf="(userRole == 'SuperAdmin') || (userRole == 'GroupAdmin')" value="GroupAssis">Group Assistant</option>
        <option *ngIf="userRole == 'SuperAdmin'" value="GroupAdmin">Group Admin</option>
        <option *ngIf="userRole == 'SuperAdmin'" value="SuperAdmin">Super Admin</option>
    </select><br>

    <button (click)="submitForm(inputUser)">Submit</button>
</form>