<h1> Create a Channel </h1>

<form>
    <label for="title">Channel Title: </label>
    <input type="text" name="title" [(ngModel)]="title"><br>

    <label for="members">Add Members: </label>
    <select name="members" [(ngModel)]="members" multiple>
        <option *ngFor="let user of users" value="{{user.username}}">{{user.username}}</option>
    </select><br>

    <button (click)="createChannel()">Create Channel</button>
</form>

<h2>List of existing Channels: </h2>
<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Group</td>
            <td>Members</td>
            <td colspan="2">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let channel of channels">
            <td>{{ channel.title }}</td>
            <td>{{ channel.groupName }}</td>
            <td>
                <ul>
                    <li *ngFor="let member of channel.members"> {{member}}</li>
                </ul>
            </td>
            <td><button (click)="deleteChannel(channel)">Delete</button></td>
        </tr>
    </tbody>
</table>
