h1 {
    text-align: center;
    margin: auto;
}

.title {
  padding-top: 20px;
  text-align: center;
}

nav {
  width: 30%;
  margin: auto;
  text-align: center;
  border: 1px;
  border-color: black;
  border-style: solid;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }

  .groupArea {
    text-align: center;
  }