<div>
    <div class="groupArea">
        <div class="title">
            <h1>Welcome Back {{username}}!</h1>
            <p>Membership level: {{userRole}}</p> 
        </div>

        <!--  ALL MEMBERS - NAVIGATE TO GROUPS -->
        <nav class="groupList">
            <h2>Your Groups</h2>
            <div *ngFor="let group of groups">
                <h4>{{group.title}}</h4>
                <button (click)="linkToGroup(group)">Enter</button>
                <button *ngIf="(userRole == 'GroupAdmin') || (userRole == 'SuperAdmin')" (click)="deleteGroup(group)">Delete</button> 
            </div>
            
        </nav>


        <!--  GROUP ADMIN + SUPER ADMIN ONLY - CREATE GROUPS -->
        <h2 class="admin">Admin Operations</h2>
        <div *ngIf="(userRole == 'GroupAdmin') || (userRole == 'SuperAdmin')"> 
            
            <div class="adminButtons">
                <button (click)="createGroup()">Edit Groups</button> <br>
                <button (click)="createUser()">Create a user</button>
            </div>
  
        
            <table>
                <thead>
                    <tr>
                        <td>Username</td>
                        <td>Email</td>
                        <td>Role</td>
                        <td colspan="2">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td *ngIf="userRole == 'SuperAdmin'"><button (click)="deleteUser(user)">Delete</button></td>
                        <td><button (click)="updateUser(user)">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--  SUPER ADMIN + GROUP ADMIN ONLY - USER DATA + CRUD -->
    

    <div *ngIf="userRole == 'GroupAssis'"> </div>

    <div *ngIf="userRole == 'Member'"> </div>
</div>