

<div >

    <div>
        <div class="title">
            <h1>Welcome Back {{username}}!</h1>
            <p>Membership level: {{userRole}}</p> 
            <button *ngIf="userRole == 'SuperAdmin' || userRole == 'GroupAdmin'">Create New Group</button>   
        </div>
        <nav class="groupList">
            <h2>Groups</h2>
            <div>
                <a href="" [routerLink]="['/group', 1]" class="heading">
                    <h3>Gaming</h3>
                </a> 
                <p>                       
                     <a *ngIf="userRole == 'SuperAdmin' || userRole == 'GroupAdmin'" href="" class="optional">Remove Group</a>
                </p>
            </div>
            <div>
                <a href="" [routerLink]="['/group', 2]" class="heading">
                    <h3>Anime</h3>
                </a> 
                <p>                       
                    <a *ngIf="userRole == 'SuperAdmin' || userRole == 'GroupAdmin'" href="" class="optional">Remove Group</a>
               </p>  
            </div>
        </nav>
    </div>

    <div *ngIf="userRole == 'SuperAdmin'"> 
        <table>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td><button (click)="deleteUser(user)">Delete</button></td>
                    <!--<td><button (click)="updateUser(user)">Update</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userRole == 'GroupAdmin'"> </div>

    <div *ngIf="userRole == 'GroupAssis'"> </div>

    <div *ngIf="userRole == 'Member'"> </div>

















</div>




